<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>


    <!--  JavaBean类型自动映射扫描包配置 Java类型别名  -->
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer"/>
        <typeAlias alias="Long" type="java.lang.Long"/>
        <typeAlias alias="HashMap" type="java.util.HashMap"/>
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap"/>
        <typeAlias alias="ArrayList" type="java.util.ArrayList"/>
        <typeAlias alias="LinkedList" type="java.util.LinkedList"/>

        <typeAlias alias="Business" type="com.neusoft.elmboot.entity.BusinessEntity"/>
        <typeAlias alias="User" type="com.neusoft.elmboot.entity.UserEntity"/>

        <package name="com.neusoft.elmboot.entity"/>

    </typeAliases>

    <environments default="development">
        <!-- 数据库环境 -->
        <environment id="development">
            <!-- 使用JDBC使用管理 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源配置 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射器 -->
    <mappers>
        <mapper resource="mapper/AddressMapper.xml"/>
        <mapper resource="mapper/BusinessMapper.xml"/>
        <mapper resource="mapper/CartMapper.xml"/>
        <mapper resource="mapper/DeliveryAddressMapper.xml"/>
        <mapper resource="mapper/FoodMapper.xml"/>
        <mapper resource="mapper/OrderDetailMapper.xml"/>
        <mapper resource="mapper/OrdersMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>

    </mappers>

</configuration>

