<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.elmboot.mapper.FoodMapper">

    <select id="listFoodByBusinessId" parameterType="Integer" resultType="Food">
        select * from food
        <where>
            businessId=#{businessId}
        </where>
        order by foodId
    </select>

    <select id="getFoodById" parameterType="Integer" resultType="Food">
        select * from food
        <where>
            foodId=#{foodId}
        </where>
    </select>
</mapper>