<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.elmboot.mapper.OrdersMapper">

    <insert id="saveOrders" useGeneratedKeys="true" keyProperty="orderId" keyColumn="orderId">
        insert into orders
        values (null, #{userId}, #{businessId}, #{daId}, 0, #{orderDate}, #{orderTotal})
    </insert>


</mapper>